body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #027F71;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    white-space: nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 22px;
    margin-left: 50px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
    margin-right: 35px;
}

#main {
    /*padding: 16px;*/
    /*margin-left: 70px;*/
    /*padding-left: 40px;*/
    /*padding-right: 16px;*/
    transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.main-layout {
    padding-left: 75px;
}

.main-content {
    padding-top: 23px;
    padding-left: 7rem !important;;
    padding-right: 2rem !important;
}

/* Specific styles for non-active links */
.link {
    color: white;
}

/* Specific styles for active links */
.link-active {
    color: black;
    background: orange;
}

.title-text {
    /* UI Properties */
    text-align: left;
    font: normal normal 600 24px/32px Segoe UI;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #027F71;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%333333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
